<!DOCTYPE html>
<html>
    <head>
        <title>404 Not Found</title>
        <link rel="icon" href="../static/images/favicon.PNG">
    </head>
    <body style="margin: 0;background-image: linear-gradient(to right, #0b0e0b , #8C55AA);">
        <div style="display: flex; flex-flow: column; justify-content: center; align-items: center;color: #FFFFFF; height: 100vh;">
            <h1>404: NOT FOUND</h1>
            <h3>Check the url you have entered. It just doesn't feel like the right place!?</h3>
        </div>
    </body>
</html>