<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../static/css/index.css">
  <title>Log in</title>
  <link rel="icon" href="../static/images/favicon.PNG">
</head>

<body>
  <div class="container">
    <div class="main">
      <img style="width: 70px; height: 70px; margin-bottom: -11.5vh; margin-left: 5.1vw;" src="../static/images/favicon.PNG" alt="" />
        <p class="sign" style="text-align: center;">Log in</p>
        <form class="form1" method="POST">
        <input class="un" type="text" style="align-items: center;" placeholder="Username" name = "uname">
        <input class="un" type="password" style="align-items: center;" placeholder="Password" name = "pwd">
        <input type="submit" class="submit" style="align-items: center;" value="Log in"></form>
        <p class="forgot" style="text-align: center;">
            <a href="/signup">Create a New Account</a></p>
    </div>
  </div>
     
</body>

</html>